pkgbase = gofer-flow-cli
	pkgdesc = Command line workflow automation tool for Taskurotta
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/doonk/gofer-flow
	arch = x86_64
	license = AGPL-3.0-only
	options = !strip
	source_x86_64 = gof-linux-x64-0.2.2::https://github.com/doonk/gofer-flow/releases/download/v0.2.2/gof-linux-x64
	sha256sums_x86_64 = SKIP

pkgname = gofer-flow-cli
