pkgbase = gofer-flow-cli
	pkgdesc = Command line workflow automation tool for Gofer Flow
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/doonk/gofer-flow
	arch = x86_64
	license = Apache-2.0
	options = !strip
	source_x86_64 = gof-linux-x64-0.1.1::https://github.com/doonk/gofer-flow/releases/download/v0.1.1/gof-linux-x64
	sha256sums_x86_64 = SKIP

pkgname = gofer-flow-cli
